<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://i0.wp.com/www.fancyasf.com/wp-content/uploads/2016/08/mauve-sky-feature-o.jpg" alt="Mauve Sky Gin">
      <div class="card-block">
        <h4 class="card-title">Mauve Sky Gin</h4>
      </div>
    <div class="card">
      <img class="card-img-top" src="https://mountainx.com/wp-content/uploads/2014/07/FOODjunction_pirate_cocktail-1100x1466.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Pirate Rum Cocktail</h4>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.pinimg.com/originals/2c/72/4a/2c724a689afd0acfd6b49746977cd201.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Blackberry Vodka Spritzer</h4>
      </div>
    </div>
  </div>
</div>
